[id="1"] {
  grid-area: pokedex;
}

[id="2"] {
  grid-area: quotes;
}

[id="3"] {
  grid-area: chat;
}

[id="4"] {
  grid-area: soulful;
  min-height: 445px;
}

[id="5"] {
  grid-area: hotel;
}

[id="6"] {
  grid-area: rap;
}

[id="7"] {
  grid-area: baby;
}

[id="8"] {
  grid-area: wix;
}

[id="9"] {
  grid-area: pr;
}

[id="10"] {
  grid-area: pm;
}

[id="11"] {
  grid-area: readme;
}

[id="12"] {
  grid-area: medic;
}

/* [id="13"] {
  grid-area: tvc;
} */

.pics {
  display: grid;
  grid-template-areas:
    "pr"
    "readme"
    "rap"
    "quotes"
    "soulful"
    "baby"
    "chat"
    "pokedex"
    "wix"
    "medic"
    /* "tvc" */
    "hotel"
    "pm";
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  grid-template-rows: repeat(10, 525px) repeat(2, 350px);
  column-gap: 20px;
  row-gap: 20px;
  margin: 15px;
}

.card {
  display: grid;
  position: relative;
  transform: rotateY(var(-rotate-y, 0)) translateY(var(--translate-y, 0));
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: 1000ms;
  padding: 10px;
  border-radius: 16px;
  background: rgba(238, 224, 224, 0.275);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.flip {
  transform: rotateY(180deg);
}

.front-info,
.back-info {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front-info {
  padding: 25px 10px;
}

.back-info {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.project-picture {
  width: 170px;
  margin-top: 1em;
}

.project-info {
  font-size: 17px;
  margin: 10px 0 0 0;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 775px) {
  .pics {
    grid-template-rows: repeat(5, 525px) repeat(1, 350px);
    justify-content: space-evenly;
    grid-template-areas:
      "pr readme"
      "rap quotes"
      "baby soulful"
      "pokedex chat"
      "wix medic"
      /* "tvc" */
      "hotel pm";
  }
}

@media screen and (min-width: 1000px) {
  .pics {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 525px) repeat(2, 250px);
    grid-template-areas:
      "pr readme rap"
      "quotes baby soulful"
      "pokedex medic chat"
      "wix wix hotel"
      "wix wix pm";
      /* "wix tvc hotel"
      "wix tvc pm"; */
    /* "hotel chat wix pm"; */
    margin-bottom: 45px;
  }

  [id="5"] .front-info,
  [id="10"] .front-info {
    padding: 30px 40px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  [id="5"] .front-info .project-picture,
  [id="10"] .front-info .project-picture {
    width: 250px;
  }

}
