.tech {
  display: grid;
  grid-template-rows: 180px 200px;
  justify-items: center;
  margin: 0px 15px;
  column-gap: 20px;
  padding: 10px;
  text-align: left;
  border-radius: 16px;
  background: rgba(238, 224, 224, 0.275);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3.3px);
}

.client-server {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  justify-items: self-start;
}

.personal {
  margin: 4em 15px 1em;
}

.attributes {
  padding: 2em;
  text-align: left;
  border-radius: 16px;
  background: rgba(238, 224, 224, 0.275);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3.3px);
}

.attributes ul {
  margin: 0;
}

.attributes ul {
  padding: 0;
  text-align: start;
}

.client-side ul,
.tools ul,
.server-side ul {
  padding: 0 7px;
  text-align: start;
}

.tools h3 {
  text-align: center;
}

.tools ul {
  column-count: 3;
  column-fill: balance;
}

.skills-list {
  list-style-type: none;
  margin-bottom: 0.5em;
}

.skills-item {
  text-align: left;
  margin-bottom: 1em;
}

.skills-item:nth-last-child(1) {
  margin-bottom: 0;
}

@media screen and (min-width: 775px) {
  .tech {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    grid-template-rows: 1fr;
  }

  .tools ul {
    column-count: 2;
  }

  .tools h3 {
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  .personal {
    width: 969px;
    margin-left: auto;
    margin-right: auto;
  }

  .personal ul {
    column-count: 2;
    column-fill: balance;
  }
}
