.tech {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 0px 10px;
  column-gap: 20px;
}

.client-side {
  border: 2px solid #fad9d9;
}

.tools {
  border: 2px solid #fad9d9;
}

.personal {
  margin: 4em 10px 1em;
}

.attributes {
  background: #fad9d9;
  padding: 2em;
}

.attributes ul {
  margin: 0;
}

.attributes ul {
  padding: 0;
  text-align: start;
}

.client-side ul,
.tools ul {
  padding: 0 1em;
  text-align: start;
}

.skills-list {
  list-style-type: none;
  margin-bottom: 0.5em;
}

.skills-item {
  text-align: left;
  margin-bottom: 1em;
}

.skills-item:nth-last-child(1) {
  margin-bottom: 0;
}

@media screen and (min-width: 775px) {
}

@media screen and (min-width: 1000px) {
  .personal {
    width: 55em;
    margin-left: auto;
    margin-right: auto;
  }
}
