.info {
  padding: 1.5em 1.5em 1.5em 2.2em;
  text-align: left;
  margin: 10px 10px 20px;
  border-radius: 16px;
  background: rgb(250, 217, 217, 0.5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3.3px);
}

.info li {
  margin-bottom: 15px;
}

.info li:nth-last-child(1) {
  margin-bottom: 0;
}

.back {
  padding: 0.3em;
}

.back:hover {
  color: #fae1e2;
  border-color: #fae1e2;
}

@media screen and (min-width: 775px) {
  .info {
    margin: 0 1em 20px;
    column-count: 2;
    column-gap: 55px;
  }
}

@media screen and (min-width: 1000px) {
  .info li {
    margin-bottom: 30px;
  }
}
