.cards {
  display: grid;
}

.employ {
  margin: 0 20px 10px;
  padding: 10px;
  height: 15em;
}

.date-company {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.duties {
  text-align: start;
  padding-inline-start: 20px;
}

.duties li {
  margin-bottom: 10px;
}

.role {
  margin-top: 0;
  font-style: italic;
  font-size: 0.9em;
}

.employ:nth-child(odd),
.volunteer:nth-child(odd) {
  border: 3px solid #fad9d9;
}

.employ:nth-child(even),
.volunteer:nth-child(even) {
  border: 3px solid #b0aad2;
}

.volunteering {
  margin-top: 5em;
}

.volunteer {
  margin: 0 20px 10px;
  padding: 10px;
  height: 135px;
}
