.cards {
  display: grid;
}

.edu-cards,
.employ-cards,
.volunteer-cards {
  padding: 1.5em;
  text-align: left;
  margin: 10px 10px 20px;
  border-radius: 16px;
  background: rgba(238, 224, 224, 0.275);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3.3px);
  gap: 10px;
}

.employ,
.volunteer,
.edu {
  margin: 0 5px;
}

.date-company {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.duties {
  text-align: start;
  padding-inline-start: 20px;
}

.duties li {
  margin-bottom: 10px;
}

.role {
  margin-top: 0;
  font-style: italic;
  font-size: 0.9em;
}

.volunteering,
.employment {
  margin-top: 70px;
}

@media screen and (min-width: 775px) {
  .employ-cards,
  .volunteer-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  }
}

@media screen and (min-width: 1000px) {
  .edu h4,
  .edu h5 {
    text-align: center;
  }

  .edu ul {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  .employ-cards,
  .volunteer-cards {
    grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
  }

  .edu-cards {
    margin: 0 2em;
  }
}
