.profile-pic {
  width: 10em;
  border-radius: 1em;
  position: relative;
  bottom: 5em;
}

.profile-area {
  padding: 0.5em;
  background: #fad9d9;
  position: relative;
  top: 5em;
}

.intro,
.profile-area p {
  margin: 0;
  position: relative;
  bottom: 2em;
}

.btn-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 775px) {
  /* .profile {
    margin-top: 5em;
  } */

  .profile-area {
    position: static;
    display: grid;
    grid-template-columns: 22em 26em;
    justify-items: center;
    height: 25em;
    padding: 0;
  }

  .profile-pic {
    width: 20em;
    margin-top: 2em;
    position: static;
  }

  .profile-info {
    margin-top: 2em;
  }

  .intro,
  .profile-area p {
    position: static;
    margin-bottom: 1em;
  }
}
