.header-menu {
  display: flex;
  justify-content: space-between;
  margin: 0.7em;
  font-size: 1em;
  padding: 0.5em;
  align-items: center;
}

.name-role {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
}

.large-name-role,
.large-menu-items {
  display: none;
}

.menu-btn {
  width: 1.7em;
  padding: 0.5em;
  cursor: pointer;
}

@media screen and (min-width: 775px) {
  .header-menu {
    font-size: 1.2em;
  }

  .list-links {
    text-decoration: none;
    color: black;
  }

  .list-links:hover {
    font-weight: bold;
  }
}

@media screen and (min-width: 1000px) {
  .large-name-role {
    display: flex;
    font-weight: bold;
  }

  .large-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .name-role,
  .menu-btn {
    display: none;
  }

  .list-links {
    padding-right: 1em;
  }

  .list-links:nth-last-child(1) {
    padding-right: 0;
  }
}
