.App {
  text-align: center;
  /* background-image: radial-gradient(#ff908b, #7ed0fa, #ffe1dc, white); */
  background-image: url("https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-attachment: fixed;
}

/* HEADER CSS */

/* NAVBAR STYLE */

.close-btn {
  width: 3em;
  cursor: pointer;
}

.close {
  text-align: end;
  margin: 0.5em;
  padding: 0.5em;
}

.list-item {
  text-decoration: none;
  border-bottom: 2px solid black;
  color: black;
  padding: 0.7em;
  font-size: 1.3em;
  cursor: pointer;
  margin-bottom: 1em;
}

.list-item:hover {
  font-weight: bold;
  color: #46b2ea;
  text-transform: uppercase;
  border-bottom: 3px #46b2ea dashed;
}

.menu-items {
  display: flex;
  flex-direction: column;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu {
  background: #fae1e2;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.7em;
  z-index: 2;
}

.animate__animated.animate__bounceInDown {
  --animate-duration: 1s;
}

/* FRONT PAGE STYLES */

/* ABOUT STYLES */
.info {
  background: #fad9d9;
  padding: 1.5em;
  text-align: left;
}

/* SKILLS STYLES */

.tech {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  justify-items: center;
}

.client-side {
  background: #d2cde8;
  width: 11em;
}

.tools {
  background: #b0aad2;
  width: 11em;
}

.personal {
  margin-top: 4em;
}

.attributes {
  background: #fad9d9;
  padding: 2em;
}

/* .personal h2 {
  margin-bottom: 0;
} */

.client-side ul,
.tools ul,
.attributes ul {
  padding: 0;
}

.skills-list {
  list-style-type: none;
  margin-bottom: 0.5em;
}

.skills-item {
  text-align: left;
}

/* JOB STYLES */

.cards {
  /* display: flex;
  flex-direction: column; */
  display: grid;
}

.employ {
  padding: 1em;
  height: 15em;
}

.date-company {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.role {
  margin-top: 0;
  font-style: italic;
  font-size: 0.9em;
}

#one,
#three,
#five {
  background: #fad9d9;
}

#two,
#four {
  background: #b0aad2;
}

.volunteering {
  margin-top: 5em;
}

.volunteer {
  padding: 1em;
  height: 10em;
}

/* PROJECTS STYLES */

.pics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
}

.project-picture {
  width: 15em;
  margin-top: 1em;
}

.project-info {
  font-size: 1.1em;
  padding: 1em;
}

.pic-card {
  border: 2px solid black;
  margin: 0.5em;
}

/* FOOTER STYLE */

.social {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  margin: 6em;
  padding: 1em;
}

@media screen and (min-width: 775px) {
  .footer {
    margin: 1em;
  }
}
