.App {
  text-align: center;
  /* background-image: radial-gradient(#ff908b, #7ed0fa, #ffe1dc, white); */
  background-image: url("https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-attachment: fixed;
}

/* HEADER CSS */

/* NAVBAR STYLE */

/* FRONT PAGE STYLES */

/* ABOUT STYLES */

/* SKILLS STYLES */

/* JOB STYLES */

/* PROJECTS STYLES */

/* FOOTER STYLE */
